# BASIC PYTHON

In [3]:
print("Akash")

Akash

##

# OPERATORS(+,-,*,/,%)

In [14]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)
print(5%2)

7
3
10
2.5
2
1

## LIST

In [21]:
a=[10,20,30,40,20]
a[4]=120    #change Value
print(a[1])
print(a[2])
print(a[1:3])
print(a[1:])
print(a[:3])
print(a[::-1])

20
30
[20, 30]
[20, 30, 40, 120]
[10, 20, 30]
[120, 40, 30, 20, 10]

# SET

In [18]:
s={10,10,10}
print(s)      #does not repeat value

{10}

# TUPLE

In [22]:
t=(10,20,30,10)
t

(10, 20, 30, 10)

In [23]:
t[1]=120  #does not change
t

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [25]:
s={
    "Sanket":"50","Aryan":"30", "Harsh":"100"
}
s

{'Sanket': '50', 'Aryan': '30', 'Harsh': '100'}

In [28]:
s["Sanket"]

'50'

In [32]:
s.keys()

dict_keys(['Sanket', 'Aryan', 'Harsh'])

In [33]:
s.values()

dict_values(['50', '30', '100'])

# FOR LOOP

In [4]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# WHILE LOOP

In [2]:
i=1
while(i<=100):
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# CONDITIONAL STATEMENT

In [3]:
marks=40
if(marks<35):
    print("Fail")
else:
    print("Pass")

Pass

In [9]:
marks=85
if(marks<=35):
    print("Fail")
if(marks>35 and marks<60):
    print("C grade")
if(marks>60 and marks<80):
    print("B grade")
if(marks>80):
    print("A grade")

A grade

# TAKING INPUT

In [3]:
a=int(input("ENTER A NUMBER"))
if(a>20):
    print("ERROR")

ENTER A NUMBER25
ERROR

In [6]:
a=int(input("ENter A NUmber1: "))
b=int(input("ENter A NUmber2: "))
c=int(input("ENter A NUmber3: "))

ENter A NUmber1: 12
ENter A NUmber2: 21
ENter A NUmber3: 23

In [22]:
a=[]
for i in range(5):
    x=int(input())
    a.append(x)
print(a)

1
2
3
4
5
[1, 2, 3, 4, 5]

In [25]:
l=list(map(int,input().split(",")))
print(l)

2,3,4,5
[2, 3, 4, 5]

# SORTING

In [ ]:
a=list(map(int,input().split(" ")))
print(a.sort)